* {
  box-sizing: content-box;
}


@font-face {
  font-family: "PressStart";
  font-style:  normal;
  font-weight: 400;
  src:         url(fonts/PressStart2P-Regular.ttf) format("truetype");
}


html, body {
  width:           100%;
  height:          100%;
  background:      #323232;
  padding:         0;
  margin:          0;
  display:         flex;
  justify-content: center;
  align-items:     stretch;
}


#game {
  flex:   1;
  margin: 10px 10px;
  border: 2px aquamarine solid;
}
